/* Project Cards Setup  ------------------------------------------------------------------*/

.project-card {
    width: 100%;
    height: 100%;
    min-height: 30vh;
    background-color: #f8f8f8;
    padding: 2rem, 2rem;
    margin: 2vh 1vw 2vh 0vw;
    border-radius: 1.25rem;
}

.project-title {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
}

.project-type {
    color: #3a3a3a;
    font-family: "Roboto Sans", monospace;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.goToProject {
    border-style: solid;
    background-color: #1a1a1a;
    color: #f8f8f8;
    font-weight: 500;
    font-size: 2rem;
    font-family: "Roboto Sans", monospace;
    padding: 1rem 1rem;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    border-radius: 1rem;
    margin-top: .5rem;
}

.buttonAlign {
    display: flex;
    justify-content: center;
}

.goToProject:hover {
    background-color: #404263;
    color: #f8f8f8;
}

.project-card:hover {
    box-shadow: 0 2.5rem 3rem #111111a8;
}

/* Project Cards Photo Setups  ---------------------------------------------------------*/

.project-photo {
    width: calc(100%-4rem);
    aspect-ratio: 16 / 9;
    margin: 3rem 2rem 2rem;

    background: url(/images/placeholder-1920x1080.png);
    background-size: 100%;
}

@media screen and (min-width: 750px) {
    .project-photo {
        width: 100%;
        margin: 3rem 0rem 2rem;
    }
}

/* Project Cards Photo Preload  ---------------------------------------------------------*/

body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
   content:
   /* FacingYourself */
   url(/images/projectPhotos/facingYourself/thumbnails/thumb01.webp)
   url(/images/projectPhotos/facingYourself/thumbnails/thumb02.webp)
   url(/images/projectPhotos/facingYourself/thumbnails/thumb03.webp)
   url(/images/projectPhotos/facingYourself/thumbnails/thumb04.webp)
   /* Riptide */
   url(/images/projectPhotos/riptideWebsite/thumbnails/thumb01.webp)
   url(/images/projectPhotos/riptideWebsite/thumbnails/thumb02.webp)
   url(/images/projectPhotos/riptideWebsite/thumbnails/thumb03.webp)
   url(/images/projectPhotos/riptideWebsite/thumbnails/thumb04.webp)
   /* Visual Journal */
   url(/images/projectPhotos/visualJournal/thumbnails/thumb01.webp)
   url(/images/projectPhotos/visualJournal/thumbnails/thumb02.webp)
   url(/images/projectPhotos/visualJournal/thumbnails/thumb03.webp)
   url(/images/projectPhotos/visualJournal/thumbnails/thumb04.webp)
   /* Variant Website */
   url(/images/projectPhotos/variantUni/thumbnails/thumb01.webp)
   url(/images/projectPhotos/variantUni/thumbnails/thumb02.webp)
   url(/images/projectPhotos/variantUni/thumbnails/thumb03.webp)
   url(/images/projectPhotos/variantUni/thumbnails/thumb04.webp)
   /* "The Meeting" Short Film  */
   url(/images/projectPhotos/theMeeting/thumbnails/thumb00.webp)
   url(/images/projectPhotos/theMeeting/thumbnails/thumb01.gif)
   url(/images/projectPhotos/theMeeting/thumbnails/thumb02.gif)
   url(/images/projectPhotos/theMeeting/thumbnails/thumb03.gif)
   url(/images/projectPhotos/theMeeting/thumbnails/thumb04.webp)
   /* City Photography */
   url(/images/projectPhotos/cityPhotos/thumbnails/thumb01.webp)
   url(/images/projectPhotos/cityPhotos/thumbnails/thumb02.webp)
   url(/images/projectPhotos/cityPhotos/thumbnails/thumb03.webp)
   url(/images/projectPhotos/cityPhotos/thumbnails/thumb04.webp)
   /* Content Creation */
   url(/images/projectPhotos/youTwitch/thumbnails/thumb01.webp)
   url(/images/projectPhotos/youTwitch/thumbnails/thumb02.gif)
   url(/images/projectPhotos/youTwitch/thumbnails/thumb03.webp)
   url(/images/projectPhotos/youTwitch/thumbnails/thumb04.webp)
   /* Model Photography */
   url(/images/projectPhotos/modelPhotos/thumbnails/thumb01.webp)
   url(/images/projectPhotos/modelPhotos/thumbnails/thumb02.webp)
   url(/images/projectPhotos/modelPhotos/thumbnails/thumb03.webp)
   url(/images/projectPhotos/modelPhotos/thumbnails/thumb04.webp)
   /* The "G" Project */
   url(/images/projectPhotos/theGProject/thumbnails/thumb00.webp)
   url(/images/projectPhotos/theGProject/thumbnails/thumb01.gif)
   url(/images/projectPhotos/theGProject/thumbnails/thumb02.gif)
   url(/images/projectPhotos/theGProject/thumbnails/thumb03.gif)
   url(/images/projectPhotos/theGProject/thumbnails/thumb04.gif)
}

/* Project Cards Anims  ---------------------------------------------------------*/

/* Facing Yourself */
.project-photo#facingYourself {
    background: url(/images/projectPhotos/facingYourself/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#facingYourself:hover {
    .project-photo#facingYourself {
        animation: animFacYou 10s infinite;
    }
}
@keyframes animFacYou { 
    25%{
        background: url(/images/projectPhotos/facingYourself/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/facingYourself/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/facingYourself/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/facingYourself/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* Riptide */
.project-photo#riptide {
    background: url(/images/projectPhotos/riptideWebsite/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#riptide:hover {
    .project-photo#riptide {
        animation: animRiptide 10s infinite;
    }
}
@keyframes animRiptide { 
    25%{
        background: url(/images/projectPhotos/riptideWebsite/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/riptideWebsite/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/riptideWebsite/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/riptideWebsite/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* Visual Journal */
.project-photo#visJour {
    background: url(/images/projectPhotos/visualJournal/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#visJour:hover {
    .project-photo#visJour {
        animation: animvisJour 10s infinite;
    }
}
@keyframes animvisJour { 
    25%{
        background: url(/images/projectPhotos/visualJournal/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/visualJournal/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/visualJournal/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/visualJournal/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* Variant Website */
.project-photo#variWeb {
    background: url(/images/projectPhotos/variantUni/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#variWeb:hover {
    .project-photo#variWeb {
        animation: animvariWeb 10s infinite;
    }
}
@keyframes animvariWeb { 
    25%{
        background: url(/images/projectPhotos/variantUni/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/variantUni/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/variantUni/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/variantUni/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* "The Meeting" Short Film  */
.project-photo#meetFilm {
    background: url(/images/projectPhotos/theMeeting/thumbnails/thumb00.webp);
    background-size: 100%;
}
.project-card#meetFilm:hover {
    .project-photo#meetFilm {
        animation: animmeetFilm 15s infinite;
    }
}
@keyframes animmeetFilm { 
    25%{
        background: url(/images/projectPhotos/theMeeting/thumbnails/thumb02.gif);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/theMeeting/thumbnails/thumb03.gif);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/theMeeting/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/theMeeting/thumbnails/thumb01.gif);
        background-size: 100%;
    }
}

/* City Photography */
.project-photo#cityPhotos {
    background: url(/images/projectPhotos/cityPhotos/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#cityPhotos:hover {
    .project-photo#cityPhotos {
        animation: animcityPhotos 10s infinite;
    }
}
@keyframes animcityPhotos { 
    25%{
        background: url(/images/projectPhotos/cityPhotos/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/cityPhotos/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/cityPhotos/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/cityPhotos/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* Content Creation */
.project-photo#youTwitch {
    background: url(/images/projectPhotos/youTwitch/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#youTwitch:hover {
    .project-photo#youTwitch {
        animation: animyouTwitch 10s infinite;
    }
}
@keyframes animyouTwitch { 
    25%{
        background: url(/images/projectPhotos/youTwitch/thumbnails/thumb02.gif);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/youTwitch/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/youTwitch/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/youTwitch/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* Model Photography */
.project-photo#modelPhotos {
    background: url(/images/projectPhotos/modelPhotos/thumbnails/thumb01.webp);
    background-size: 100%;
}
.project-card#modelPhotos:hover {
    .project-photo#modelPhotos {
        animation: animmodelPhotos 10s infinite;
    }
}
@keyframes animmodelPhotos { 
    25%{
        background: url(/images/projectPhotos/modelPhotos/thumbnails/thumb02.webp);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/modelPhotos/thumbnails/thumb03.webp);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/modelPhotos/thumbnails/thumb04.webp);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/modelPhotos/thumbnails/thumb01.webp);
        background-size: 100%;
    }
}

/* The "G" Project */
.project-photo#theGPro {
    background: url(/images/projectPhotos/theGProject/thumbnails/thumb00.webp);
    background-size: 100%;
}
.project-card#theGPro:hover {
    .project-photo#theGPro {
        animation: animtheGPro 15s infinite;
    }
}
@keyframes animtheGPro { 
    25%{
        background: url(/images/projectPhotos/theGProject/thumbnails/thumb02.gif);
        background-size: 100%;
    }
    50%{
        background: url(/images/projectPhotos/theGProject/thumbnails/thumb03.gif);
        background-size: 100%;
    }
    75%{
        background: url(/images/projectPhotos/theGProject/thumbnails/thumb04.gif);
        background-size: 100%;
    }
    100%{
        background: url(/images/projectPhotos/theGProject/thumbnails/thumb01.gif);
        background-size: 100%;
    }
}
