/* Facing Yourself Page */

#fY_Page {
    /* Mobile Background Setup */
        background: linear-gradient(rgba(177, 168, 255, 0.5), rgba(55, 62, 129, 0.5)), url("/images/projectPhotos/facingYourself/Background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        background-attachment: scroll;
}

@media screen and (min-width: 750px) {
    /* PC Background Setup */
    #fY_Page {
        background-repeat: repeat;
        background-size: 25%;
        background-position: center; 
        background-attachment: scroll;
    }
}

h4.textNormal {
    font-family: "Urbanist", sans-serif;
    color: #e3ecff;
    font-weight: 500;
    font-size: 3rem;
}

h4.textNormal a {
    text-decoration: underline;
}

iframe.youTube {
    width: 100%;
    aspect-ratio: 16 / 9;
}


