/* Facing Yourself Page */

#fY_Page {
    /* Mobile Background Setup */
        
}

@media screen and (min-width: 750px) {
    /* PC Background Setup */
    
}

h4.textNormal {
    font-family: "Roboto Mono", monospace;
    color: #e3ecff;
    font-weight: 300;
    font-size: 3rem;
}

h4.textNormal a {
    text-decoration: underline;
}

iframe.youTube {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.visJour {
   width: 95%;
   padding: 2.5%; 
}