/* Project Cards Setup  ------------------------------------------------------------------*/

.project-card {
    width: 100%;
    height: 100%;
    min-height: 30vh;
    background-color: #f8f8f8;
    padding: 2rem, 2rem;
    margin: 2vh 1vw 2vh 0vw;
    border-radius: 1.25rem;
}

.project-title {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
}

.project-type {
    color: #3a3a3a;
    font-family: "Roboto Sans", monospace;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
}

.goToProject {
    border-style: solid;
    background-color: #1a1a1a;
    color: #f8f8f8;
    font-weight: 500;
    font-size: 2rem;
    font-family: "Roboto Sans", monospace;
    padding: 1rem 1rem;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    border-radius: 1rem;
    margin-top: .5rem;
}

.buttonMobileFix {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    .buttonMobileFix {
        display: block;
    }
}


.goToProject:hover {
    background-color: #404263;
    color: #f8f8f8;
}

.project-card:hover {
    box-shadow: 0 2.5rem 5rem #1a1a1a81;
}

/* Project Cards Photo Setups  ---------------------------------------------------------*/

.project-photo {
    width: calc(100%-4rem);
    aspect-ratio: 16 / 9;
    margin: 3rem 2rem 2rem;

    background: url(https://github.com/BlueDemonBoi/bluedemonboi.github.io/blob/main/images/placeholder-1920x1080.png?raw=true);
    background-size: 100%;
}

@media screen and (min-width: 750px) {
    .project-photo {
        width: 100%;
        margin: 3rem 0rem 2rem;
    }
}

/* Facing Yourself */

.project-photo#facingYourself {
    background: url(./images/projectPhotos/facingYourself/Image01.png);
    background-size: 100%;
}

.project-card#facingYourself:hover {
    .project-photo#facingYourself {
        animation: animFacYou 10s infinite;
    }
}

@keyframes animFacYou { 
    25%{
        background: url(./images/projectPhotos/facingYourself/Image02.png);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/facingYourself/Image03.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/facingYourself/Image04.png);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/facingYourself/Image01.png);
        background-size: 100%;
    }
}

/* Riptide */

.project-photo#riptide {
    background: url(./images/projectPhotos/riptideWebsite/photo01.png);
    background-size: 100%;
}

.project-card#riptide:hover {
    .project-photo#riptide {
        animation: animRiptide 10s infinite;
    }
}

@keyframes animRiptide { 
    25%{
        background: url(./images/projectPhotos/riptideWebsite/photo02.png);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/riptideWebsite/photo03.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/riptideWebsite/photo04.png);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/riptideWebsite/photo05.png);
        background-size: 100%;
    }
}

/* Visual Journal */
.project-photo#visJour {
    background: url(./images/projectPhotos/visualJournal/Reese_Jake_Visual_Journal_Week_1-1.jpg);
    background-size: 100%;
}

.project-card#visJour:hover {
    .project-photo#visJour {
        animation: animvisJour 10s infinite;
    }
}

@keyframes animvisJour { 
    25%{
        background: url(./images/projectPhotos/visualJournal/Reese_Jake_Visual_Journal_Week_2-2.jpg);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/visualJournal/Reese_Jake_Visual_Journal_Week_4-2.jpg);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/visualJournal/Reese_Jake_Visual_Journal_Week_3-2.jpg);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/visualJournal/Reese_Jake_Visual_Journal_Week_1-1.jpg);
        background-size: 100%;
    }
}

/* Variant Website */
.project-photo#variWeb {
    background: url(./images/projectPhotos/variantUni/photo01.png);
    background-size: 100%;
}

.project-card#variWeb:hover {
    .project-photo#variWeb {
        animation: animvariWeb 10s infinite;
    }
}

@keyframes animvariWeb { 
    25%{
        background: url(./images/projectPhotos/variantUni/photo02.png);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/variantUni/NEWx5_3DRender_021324.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/variantUni/photo03.jpg);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/variantUni/photo01.png);
        background-size: 100%;
    }
}

/* "The Meeting" Short Film  */
.project-photo#meetFilm {
    background: url(./images/projectPhotos/theMeeting/animVer/vlcsnap-2025-09-24-05h12m34s351.png);
    background-size: 100%;
}

.project-card#meetFilm:hover {
    .project-photo#meetFilm {
        animation: animmeetFilm 10s infinite;
    }
}

@keyframes animmeetFilm { 
    25%{
        background: url(./images/projectPhotos/theMeeting/liveVer/photo02.png);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/theMeeting/animVer/CharacterModels.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/theMeeting/liveVer/photo03.png);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/theMeeting/animVer/vlcsnap-2025-09-24-05h12m34s351.png);
        background-size: 100%;
    }
}

/* City Photography */
.project-photo#cityPhotos {
    background: url(./images/projectPhotos/cityPhotos/IMG_0721-1.jpg);
    background-size: 100%;
}

.project-card#cityPhotos:hover {
    .project-photo#cityPhotos {
        animation: animcityPhotos 10s infinite;
    }
}

@keyframes animcityPhotos { 
    25%{
        background: url(./images/projectPhotos/cityPhotos/IMG_0820.JPG);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/cityPhotos/IMG_1156.JPG);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/cityPhotos/IMG_1156.JPG);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/cityPhotos/IMG_0721-1.jpg);
        background-size: 100%;
    }
}

/* Content Creation */
.project-photo#youTwitch {
    background: url(./images/projectPhotos/youTwitch/photo01.png);
    background-size: 100%;
}

.project-card#youTwitch:hover {
    .project-photo#youTwitch {
        animation: animyouTwitch 10s infinite;
    }
}

@keyframes animyouTwitch { 
    25%{
        background: url(./images/projectPhotos/youTwitch/twitchStartingScreen.gif);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/youTwitch/photo04.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/youTwitch/Photo06.png);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/youTwitch/photo01.png);
        background-size: 100%;
    }
}

/* Model Photography */
.project-photo#modelPhotos {
    background: url(./images/projectPhotos/modelPhotos/IMG_1015.jpg);
    background-size: 100%;
}

.project-card#modelPhotos:hover {
    .project-photo#modelPhotos {
        animation: animmodelPhotos 10s infinite;
    }
}

@keyframes animmodelPhotos { 
    25%{
        background: url(./images/projectPhotos/modelPhotos/IMG_1485.JPG);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/modelPhotos/Top.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/modelPhotos/IMG_1518.jpg);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/modelPhotos/IMG_1015.jpg);
        background-size: 100%;
    }
}

/* The "G" Project */
.project-photo#theGPro {
    background: url(./images/projectPhotos/theGProject/photo01.png);
    background-size: 100%;
}

.project-card#theGPro:hover {
    .project-photo#theGPro {
        animation: animtheGPro 10s infinite;
    }
}

@keyframes animtheGPro { 
    25%{
        background: url(./images/projectPhotos/theGProject/photo02.png);
        background-size: 100%;
    }
    50%{
        background: url(./images/projectPhotos/theGProject/photo03.png);
        background-size: 100%;
    }
    75%{
        background: url(./images/projectPhotos/theGProject/photo04.png);
        background-size: 100%;
    }
    100%{
        background: url(./images/projectPhotos/theGProject/photo01.png);
        background-size: 100%;
    }
}
